<div id="board">
  <ol id="sortable_stepstones">
    <li>
    <div class="row-fluid">
      <div class="span4">Not started</div>
      <div class="span4">Working</div>
      <div class="span4">Done</div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <% @s = @steps.find_all {|step| ( step.created? or step.skipped? )} %>
        <% @s.each do |step| %>
          <%= avatar_image(step.user) %>
        <% end %>
      </div>

      <div class="span4">
        <% @s = @steps.find_all {|step| step.started?} %>
        <% @s.each do |step| %>
          <%= avatar_image(step.user) %>
        <% end %>
      </div>

      <div class="span4">
        <% @s = @steps.find_all {|step| ( step.done? or step.confirmed?) } %>
        <% @s.each do |step| %>
          <%= avatar_image(step.user) %>
        <% end %>
      </div>
      </li>
    </ol>
  </div>


