<h1>Editing Stepstone</h1>

<%= render 'form', stepstone: @stepstone %>

<%= link_to 'Show', adventure_stepstone_path(@adventure, @stepstone) %> |
<%= link_to 'Back', adventure_stepstones_path(@adventure) %>

