body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

@keyframes flash-animation {  
    from { background: yellow; }
    to   { background: default; }
}

.notice {
    animation-name: flash-animation;
    animation-duration: 1s;
}

.sortable li:hover {
  background-color: #ddd;
  border: 1px #aaa solid;
}

form.edit_step {
  display: inline;
}

section#chat {
  background-color: #eef;
  flex: 1;
}
section#chat.holder {
  flex-direction: column !important;
}

#input {
  display: flex;
  flex-direction: row;
}

#chat input[type=text] {
  flex: 1;
}

#output { 
  height: 150px;
  overflow: scroll;
}
#output p {
  margin: 0;
}

section#main {
  flex: 4;
}
header {
  background-color: #DDD;
}
footer {
  background-color: #DDD;
}

.holder {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0px auto; 
  display: flex;
  flex-direction: rows;
  justify-content: space-between;  
}

nav {
}
nav a, h1 a, h2 a {
  text-decoration: none;
}
nav a:hover, h1 a:hover, h2 a:hover {
  text-decoration: underline;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  /* margin: 33px; */
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
